<!DOCTYPE html>
<html>
<head>
    <title>Trial Expired</title>
</head>
<body>
    <p>Hello <strong>{{firstName}}</strong>,</p>
    <p>Your free trial or plan has expired. Don't worry, your data will remain safe in our app. You can reactivate it anytime by subscribing to a paid plan.</p>
    <p>Best regards,</p>
    <p>Your App Name</p>
</body>
</html>
